<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <!-- Will be replaced with Azure Portal Application Settings -->
    <add name="RedisCacheString" connectionString="cache123.redis.cache.windows.net:6380,password=E7SwKwoC02GNpJpGF0bTnHo+LXez8nEo9P928ybSzvc=,ssl=True,abortConnect=False"/>
  </connectionStrings>
</configuration>
