<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Will be replaced with Azure Portal Application Settings -->
		<add name="ServiceBusConnectionString" connectionString="Endpoint=sb://servicebus8.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=RyiVzeSU1p5dcL03qP2Tepy4LnAfp7WG3jBZkNAJh2M="/>
	</connectionStrings>
	<appSettings>
		<!-- Will be replaced with Azure Portal Application Settings -->
		<add key="TopicName" value="topics" />
		<add key="SubscriptionName" value="subscription" />
	</appSettings>
</configuration>