<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Will be replaced with Azure Portal Application Settings -->
		<add name="ServiceBusConnectionString" connectionString="Endpoint=sb://servicebus9.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=nhEqU3tWUmk9c21Yug3fgkCuj14k9vxASWW4Hua0pmE="/>
	</connectionStrings>
	<appSettings>
		<!-- Will be replaced with Azure Portal Application Settings -->
		<add key="TopicName" value="topics" />
		<add key="SubscriptionName" value="subscription" />
	</appSettings>
</configuration>